<div class="login-container">
    <div class="row text-center title">
        <div class="col col-sm-12">
            <h4> Login with </h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-sm-12">
            <a href="/api/auth/loginmicrosoft?redirectPath=/loggedin">
                <i class="fab fa-microsoft fa-3x"></i>
            </a>
            <a href="/api/auth/logingoogle?redirectPath=/loggedin">
                <i class="fab fa-google fa-3x"></i>
            </a>
            <a href="/api/auth/logingithub?redirectPath=/loggedin">
                <i class="fab fa-github fa-3x"></i>
            </a>
        </div>
    </div>
</div>