ul.todo-items {
    border-radius: 3px;
    display: table;
    width: 100%;
    list-style-type: none;
    vertical-align: middle;
    padding: 0;
    margin-top: 5vh;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #FFF;
    color: #F50057;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}