.create-todoitem-form {
    text-align: center;
    padding: 30px;
}

.save-todoitem {
    width:60%;
    margin-top: 3vh;
}

.sucess-alert {
    background-color: #CFEBD6;
    border-radius: 2px;
    border: solid 1px #BCE3C5;
    color: #094814;
    padding: 10px;
    width: auto;
    margin-top: 5px;
    opacity: 0;
}